* {
    padding: 0;
    margin: 0;
}

@bgColor:#16a086;
@colorText: #FFFFFF;
@bgBlock:#FFFFFF;
@divText: #444444;
@family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

.bodySize() {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.flex(@aling:center, @just:center) {
    display: flex;
    align-items: @aling;
    justify-content: @just;
  }
  
  body {
    .bodySize();
    .flex(@aling:center, @just:center);
    background: @bgColor;
    flex-direction: column;
        header {
            .flex(@aling:center, @just:center);
            flex-direction: column;
            color: @colorText;
            font-family: @family;
                .header_text {
                    padding: 10px;
                    font-size: 25px;
                }
                .header_content {
                    padding-bottom: 40px;
                    font-size: 14px;
                }
                
        }

        .wrap {
            .flex(@aling:center);
            justify-content: space-between;
            width: 100%;
            max-width: 730px;
            height: 419px;
            cursor: pointer;
                .block {
                   display: flex; 
                   flex-direction: column;
                   align-items: center;
                   font-family: @family;
                    max-width: 224px;
                    height: 419px;
                    width: 221px;
                    background: @bgBlock;
                    color: @divText;
                    .person {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        &:hover {
                            .icon {
                            opacity: 1;
                          }
                        }
                        .icon {
                          align-items: center;
                          justify-content: space-evenly;
                          display: flex;
                          width: 180px;
                          height: 50px;
                          background: #16a08685;
                          position: absolute;
                          opacity: 0;
                          transition: opacity 0.8s ease-out;
                          img {
                            height: 25px;
                            padding: 0 5px;
                            &:hover {
                              animation-duration: .5s;
                              animation-name: icon;
                            }
                          }
                        }
                      }
                
                      .name {
                        margin-top: 20px;
                        font-size: 18px;
                        font-weight: 500;
                      }
                
                      .role {
                        font-style: italic;
                        font-size: 13px;
                        margin: 6px 0 21px 0;
                      }
                      .text {
                        text-align: left;
                        margin: 0 10px;
                        line-height: 20px;
                        font-size: 15px;
                      }
                      display: flex;
                      font-family: @family;
                      flex-direction: column;
                      width: 220px;
                      height: 420px;
                      align-items: center;
                    }
                  }
                }
                
                @keyframes icon {
                  from {
                    transform: rotate(-20deg);
                  }
                  to {
                    transform: rotate(20deg);
                  }
                }
                
                @media (min-width: 468px) and (max-width: 768px) {
                  body {
                    overflow-y: unset;
                    .wrap {
                      flex-wrap: wrap;
                      width: 100%;
                      max-width: 655px;
                      justify-content: space-evenly;
                    }
                    .block:nth-child(3n) {
                      margin-top: 100px;
                      align-self: center;
                    }
                  }
                }
                
                @media (max-width: 468px) {
                  body {
                    overflow-y: unset;
                    .wrap {
                      flex-direction: column;
                      align-items: center;
                    }
                    .block {
                      margin-bottom: 15px;
                    }
                  }
                }
                
