* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #16a086;
  flex-direction: column;
}
body header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFFFFF;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body header .header_text {
  padding: 10px;
  font-size: 25px;
}
body header .header_content {
  padding-bottom: 40px;
  font-size: 14px;
}
body .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  max-width: 730px;
  height: 419px;
  cursor: pointer;
}
body .wrap .block {
  max-width: 224px;
  height: 419px;
  width: 221px;
  background: #FFFFFF;
  color: #444444;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  width: 220px;
  height: 420px;
  align-items: center;
}
body .wrap .block .person {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body .wrap .block .person:hover .icon {
  opacity: 1;
}
body .wrap .block .person .icon {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  width: 180px;
  height: 50px;
  background: #16a08685;
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s ease-out;
}
body .wrap .block .person .icon img {
  height: 25px;
  padding: 0 5px;
}
body .wrap .block .person .icon img:hover {
  animation-duration: 0.5s;
  animation-name: icon;
}
body .wrap .block .name {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
body .wrap .block .role {
  font-style: italic;
  font-size: 13px;
  margin: 6px 0 21px 0;
}
body .wrap .block .text {
  text-align: left;
  margin: 0 10px;
  line-height: 20px;
  font-size: 15px;
}
@keyframes icon {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
}
@media (min-width: 468px) and (max-width: 768px) {
  body {
    overflow-y: unset;
  }
  body .wrap {
    flex-wrap: wrap;
    width: 100%;
    max-width: 655px;
    justify-content: space-evenly;
  }
  body .block:nth-child(3n) {
    margin-top: 100px;
    align-self: center;
  }
}
@media (max-width: 468px) {
  body {
    overflow-y: unset;
  }
  body .wrap {
    flex-direction: column;
    align-items: center;
  }
  body .block {
    margin-bottom: 15px;
  }
}
